**Integers**

In [1]:
print(12345 + 1)

12346

In [2]:
print(10)
print(type(10))

10
<class 'int'>

**Floating pont** **Number** **teks tebal**

In [3]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

**String**

In [4]:
print("Hactive8")

print(type("Hactive8"))

Hactive8
<class 'str'>

In [5]:
print('')

In [6]:
print("ini konten dengan single quote(') katakter.")

print('ini konten dengan double quote (") karakter.')

ini konten dengan single quote(') katakter.
ini konten dengan double quote (") karakter.

**Bolean type, Bolean context, and "truthines"**

In [9]:
print(type(True))

print(type(False))

<class 'bool'>
<class 'bool'>

**Variabel Assigment**

In [12]:
n = 300
print(n)

300

In [13]:
n

300

In [14]:
n = 1000
print(n)

1000

In [15]:
a = b = c = 3000
print (a,b,c)

3000 3000 3000

**Variabel Type in Phyton**

In [16]:
var = 23.5
print(var)

var = "now i'm a string"

print(var)

23.5
now i'm a string

**Variabel Name**

In [19]:
name = "Hacktive8"
age = 54
has_laptops = True
print(name, age, has_laptops)

Hacktive8 54 True

**Operator and Expression in Phyton**

In [20]:
a = 10
b = 20

print(a+b)

30

In [21]:
print(a+b+a-b)

20

**Aritmatic Operation**

In [22]:
print(a/b)
print(a%b)
print(a*b)
print(a**b)

0.5
10
200
100000000000000000000

**Comparison Operator**

In [23]:
a = 10
b = 20

print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

a = 30
b = 30

print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False
True
False
True
True

**String**

In [24]:
s ='foo'
t ='bar'
u ='baz'

print(s+t)
print(s+t+u)
print('Hactive8'+'PTP')

foobar
foobarbaz
Hactive8PTP

In [25]:
s*4

'foofoofoofoo'

In [26]:
print(s in 'that food for us')
print(s in 'that from for us')

True
False

In [29]:
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

**Phyton List**

In [30]:
a = ['foo','bar','baz','qux']
a

['foo', 'bar', 'baz', 'qux']

**List Are Ordered**

In [31]:
a = ['foo','bar','baz','qux']
b = ['baz','qux','bar','foo']

a == b

False

**Lists Can Contain Arbitrary Objects**

In [32]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

**List Elements Can Be Accessed by Index**

In [34]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [35]:
print(a[0])
print(a[5])

foo
corge

In [39]:
print(a[-1])
print(a[-6])

corge
foo

In [40]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:5]

['baz', 'qux', 'quux']

In [41]:
# The concatenation (+) and replication (*) operators:
print(a)
print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [42]:
# len(), min(), max()
print(a)
print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

**Modifying Multiple List Values**

In [43]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[1:4])
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

**Python Tuples**
Python menyediakan tipe lain dari kumpulan objek yang berurutan, disebut tuple.
Defining and Using Tuples
Tuples identik dengan list dalam segala hal, kecuali untuk properti berikut:
Tuples didefinisikan dengan mengapit elemen dalam tanda kurung (()) daripada tanda kurung siku ([]).
Tuples tidak bisa diubah. Berikut adalah contoh singkat yang menunjukkan pendeklarasian tuple,
pengindeksan, dan slicing:

In [44]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [45]:
print(t[0])
print(t[-1])

foo
corge

In [46]:
# packing and unpacking
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

**Python Dictionary**

Defining a Dictionary

In [47]:
MLB_team = {
 'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'
}

In [48]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])
# error
# MLB_team['Toronto']

Twins
Rockies

In [50]:
# If you want to update an entry, you can just assign a new value to an
# existing key:
MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks'}

In [51]:
# To delete an entry, use the del statement, specifying the key to delete:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers'}

**Building a Dictionary Incrementally**

In [53]:
person = {}
type(person)
person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [54]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [55]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [56]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [57]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [58]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

**Line Continuation**

In [60]:
person1_age = 42
person2_age = 16
person3_age = 71
someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or \
                            (person2_age >= 18 and person2_age <= 65) or \
                            (person3_age >= 18 and person3_age <= 65)
print(someone_is_of_working_age)

True

In [61]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) or
    (person2_age >= 18 and person2_age <= 65) or
    (person3_age >= 18 and person3_age <= 65)
)
print(someone_is_of_working_age)

True